In [12]:
import pandas as pd
import yfinance as yf
from bs4 import BeautifulSoup
import requests
import datetime as dt
from concurrent.futures import ThreadPoolExecutor
import itertools

In [6]:
html = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = BeautifulSoup(html.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})
stock_data = pd.read_html(str(table))[0]
names = [name.replace(".", "-") for name in stock_data.Symbol]
name_query = " ".join(names)
delta_t = pd.tseries.offsets.BusinessDay(n = 21)
end_date = dt.date.today()
start_date = end_date - delta_t

In [8]:
px = yf.download(name_query, period = '1y')

[*********************100%***********************]  503 of 503 completed

In [13]:
tickers = yf.Tickers(name_query)

In [53]:
tickers.tickers['AAPL'].earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [46]:
msft = yf.Ticker("MSFT")

# get stock info
msft.info

{'regularMarketPrice': None,
 'preMarketPrice': None,
 'logo_url': '',
 'trailingPegRatio': 2.1027}

In [ ]:
def esg_retrieve(name, thread_loop, tickers):

    try:

        tick = tickers.tickers[name]
        t_exp = pd.Series(tick.sustainability, dtype=pd.StringDtype())
        
        t_loop = [x for x in itertools.product([tick], [name], t_exp)]
        
        thread_loop.extend(t_loop)
    
    except:
        
        pass

In [10]:
thread_count = 50
name_count = 500

thread_loop = []

with ThreadPoolExecutor(thread_count) as executor:
    futures = [executor.submit(exp_retrieve, name, thread_loop, tickers) for name in names[:name_count]]

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-13,144.221115,19.340000,232.933624,171.196411,128.623901,133.217972,127.383324,46.740002,355.974579,516.900024,...,84.230003,67.148964,67.935005,53.233158,112.950615,126.380791,123.311462,525.799988,68.182426,205.492325
2022-01-14,143.734299,18.490000,231.273422,172.071350,130.887711,134.511719,125.919388,47.410000,348.084167,520.599976,...,91.470001,67.100319,69.127701,53.174011,110.107597,124.663788,122.647102,528.000000,68.756607,204.678299
2022-01-18,139.551819,17.900000,229.642136,168.820206,131.764343,132.151367,124.357170,46.590000,343.080017,513.340027,...,91.089996,66.536041,70.291527,52.405087,108.567635,123.996613,121.655373,516.719971,67.569313,201.223648
2022-01-19,139.512085,17.309999,226.196182,165.270813,130.251923,130.748962,123.846275,45.919998,338.607788,516.580017,...,89.059998,66.273361,70.320381,52.267078,107.116508,122.152077,118.689804,513.109985,64.396675,199.438858
2022-01-20,138.568283,16.760000,221.360321,163.560715,128.151855,131.232895,122.529694,45.630001,337.573486,510.850006,...,87.099998,66.331734,70.474281,52.552956,105.152061,121.288673,118.468361,501.420013,62.508667,200.811005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-09,147.470001,14.610000,152.259995,130.149994,160.137726,164.970001,111.644508,62.669998,272.634827,341.980011,...,94.330002,71.980003,108.470001,32.990002,111.790001,129.759995,126.050003,279.290009,51.020000,147.059998
2023-01-10,155.229996,15.190000,151.970001,130.729996,158.136734,167.259995,113.336845,63.070000,273.809998,338.700012,...,97.470001,72.110001,110.089996,33.320000,112.940002,129.399994,125.500000,286.929993,51.040001,154.360001
2023-01-11,158.169998,15.340000,153.279999,133.490005,155.689987,165.389999,112.639999,62.849998,281.079987,342.929993,...,96.239998,72.779999,111.370003,35.110001,114.860001,129.690002,124.320000,299.790009,51.330002,157.899994
2023-01-12,156.490005,16.830000,152.190002,133.410004,152.220001,164.899994,111.360001,63.070000,283.839996,344.540009,...,98.610001,71.949997,113.220001,36.000000,116.190002,128.889999,123.199997,293.000000,51.450001,159.910004
2023-01-13,156.710693,16.959000,151.360001,133.475006,152.509995,164.445007,113.400002,63.509998,281.510010,339.350006,...,99.206802,71.000000,112.550003,36.599998,116.160004,129.460007,122.570000,290.619995,50.980000,160.370804